## Build generated
build/
DerivedData/
## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

# OS X
.DS_Store

# CocoaPods
Pods
Podfile.lock

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
